# Ignore Gradle project-specific cache directory
.gradle

# Ignore project-specific settings directory
.settings

# Ignore Visual Studio Code project settings directory
.vscode

# Ignore Gradle build output directory
build

# Ignore Java bin directory
bin
